<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    <add name="zzCS321_5ConnectionString" connectionString="Data Source=calantha.arvixe.com; Initial Catalog=zzCS321_5; User ID=team5; Password=$sp2015$"
      providerName="System.Data.SqlClient" />
    <add name="zzCS321_5ConnectionString2" connectionString="Data Source=calantha.arvixe.com;Initial Catalog=zzCS321_5;User ID=team5;Password=$sp2015$"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <pages theme="Monochrome" styleSheetTheme="Monochrome"></pages>
      <siteMap enabled="true"  defaultProvider="DefaultSiteMap" >
        <providers>
          <clear />
          <add name="DefaultSiteMap" type="System.Web.XmlSiteMapProvider" siteMapFile="Web.sitemap"/>
        </providers>
      </siteMap>
    </system.web>

</configuration>